.syntax-error-line {
  background-color: rgba(255, 0, 0, 0.2);
  font-style: italic; /* 이건 이제 적용됨 */
  color: red;
}

.syntax-error-inline {
  color: rgba(255, 0, 0, 0.9) !important;
  font-style: italic !important;
  margin-left: 10px;
}
